<div class="super_container">

    <!-- About -->

    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_subtitle">Mahesh Machanical Works SINCE 1998 </div>
                    <div class="section_title">
                        <h2>A FEW WORDS ABOUT US</h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row about_row">
                <div class="col-lg-6">
                    <div class="about_content">
                        <div class="text_highlight">“Mahesh Machanical Works SINCE 1998 ” is the workshop that can be
                            available for
                            the customer to
                            repar their daily accessed Electrical accessories, which caters large number of people. This
                            webpage
                            basically provides the detail of services provide by Mahesh Machanical Works.

                        </div>
                        <br>
                        <div class="about_text">
                            <p> Here you can search the products which are repaired and sell.All type of electrical
                                accessories repaired by Us.We are working since 1998 and there is not a single complain
                                of our work .Using branded and uthorized parts of machines.
                                Reach out to the workshop for additional queries.We own only one workshop there is no
                                other branch owned.

                            </p>
                        </div>
                        <div class="button about_button"><a routerLink="/contactus">read more</a></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about_image"><img src="../../../assets/images/bg3.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us -->

    <div class="why">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/assets/why.jpg"
            data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_subtitle">simply amazing places</div>
                    <div class="section_title">
                        <h2>Why choose us?</h2>
                    </div>
                </div>
            </div>
            <div class="row why_row">

                <!-- Why item -->
                <div class="col-lg-4 why_col">
                    <div class="why_item">
                        <div class="why_image">
                            <img src="../../../assets/images/22.jpg" alt="">
                            <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="../../../assets/images/service.png" alt="">
                            </div>
                        </div>
                        <div class="why_content text-center">
                            <div class="why_title">Fast Services</div>
                            <div class="why_text">
                                <p>We value the precious time of our customers</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Why item -->
                <div class="col-lg-4 why_col">
                    <div class="why_item">
                        <div class="why_image">
                            <img src="../../../assets/images/team2.jpg" alt="">
                            <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="../../../assets/images/team3.jpg" alt="">
                            </div>
                        </div>
                        <div class="why_content text-center">
                            <div class="why_title">Great Team</div>
                            <div class="why_text">
                                <p>Only Profesionals = No compromise in quality </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Why item -->
                <div class="col-lg-4 why_col">
                    <div class="why_item">
                        <div class="why_image">
                            <img src="../../../assets/images/deal.jpg" alt="">
                            <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                                <img src="../../../assets/images/bd.jpg" alt="">
                            </div>
                        </div>
                        <div class="why_content text-center">
                            <div class="why_title">Best Deals</div>
                            <div class="why_text">
                                <p>Great services at reasonable pricing thats our moto. </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Team -->

    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_subtitle">simply amazing work </div>
                    <div class="section_title">
                        <h2>Meet the Owner</h2>
                    </div>
                </div>
            </div>
            <div class="row team_row">

                <!-- Team Item -->
                <div class="col-xl-12 col-md-12 team_col">
                    <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
                        <div class="team_image"><img src="../../../assets/images/owner.jpg" alt=""></div>
                        <div class="team_content">
                            <div class="team_title"><a href="#">MaheshBhai Panchal</a></div>
                            <div class="team_text">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>