<!-- Contact -->
<p *ngFor="let alert of alerts">
    <!-- <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert> -->
</p>
<div class="contact">
    <div class="container">
        <div class="row">
            <!-- Get in touch -->
            <div class="col-lg-6">
                <div class="contact_content">


                    <div class="contact_title">Get in touch with us</div>
                    <div class="contact_text">

                    </div>
                    <div class="contact_list">
                        <ul>
                            <li>
                                <div>address:</div>
                                <div> MAHESH MECHAICAL WORKS ,
                                    NR. NAVA RASTA ,
                                    SUTHARWADA'S POLE ,
                                    AASTODIA RANGATI KAPAD BAZAR ,
                                    AHMEDABAD 380001.
                                </div>
                            </li>
                            <li>
                                <div>phone:</div>
                                <div>+91 9998370940</div>
                            </li>
                            <li>
                                <div>email:</div>
                                <div>maheshmechanical98@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="col-lg-6">
                <div class="contact_form_container">
                    <form action="#" id="contact_form" class="contact_form needs-validation">
                        <div style="margin-bottom: 18px">
                            <input type="text" class="contact_input contact_input_name inpt form-control"
                                placeholder="Your Name" formControlName="userName" required="required">
                            <div class="invalid-feedback">
                                <div>userName is required</div>
                            </div>
                            <div class="input_border"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" style="margin-bottom: 18px">
                                <div><input type="text" class="contact_input contact_input_email inpt form-control"
                                        formControlName="email" placeholder="Your E-mail" required="required">
                                    <div class="invalid-feedback">
                                        <div>Email is required</div>
                                    </div>
                                    <div class="input_border"></div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="margin-bottom: 18px">
                                <div><input type="text" class="contact_input contact_input_subject inpt form-control"
                                        formControlName="subject" placeholder="Subject" required="required">
                                    <div class="invalid-feedback">
                                        <div>Subject is required</div>
                                    </div>
                                    <div class="input_border"></div>
                                </div>
                            </div>
                        </div>
                        <div><textarea class="contact_textarea contact_input inpt" placeholder="Message"
                                formControlName="message" required="required">

                            </textarea>
                            <div class="invalid-feedback">
                                <div>Subject is required</div>
                            </div>
                            <div class="input_border" style="bottom:3px"></div>
                        </div>
                        <button type="submit" value="Post Data" class="contact_button">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>